.MainChat__upper 
  .MainChat__upper--overview
    .group
      groupå
    .edit
      edit
  .MainChat__upper--member
    member
.MainChat__message 
  Messages comes up this area.
.MainChat__form 
  Form(text)_sendbtn
