.MainChat__upper 
  .OverView
    .OverView__group
      groupå
    .OverView__edit
      edit
  .OverView__member
    member
.MainChat__message 
  Messages comes up this area.
.MainChat__form 
  Form(text)_sendbtn
