.MainChat__upper 
  .OverView
    .OverView__group
      group名
    .OverView__edit
      edit
  .OverView__member
    member
.MainChat__message 
  .MessageBox
    .Property
      .Property__name
        user_name
      .Property__time
        create_time
    .Property__object
      message and picture
      
.MainChat__form 
  Form(text)_sendbtn
