.User
  .TopItems
    .TopItems__name
      = current_user.name
    .TopItems__icons
      = link_to new_group_path(current_user) do
        = icon('fas', 'edit', class: 'TopItems__icons--icon')
      = link_to edit_user_path(current_user) do
        =icon('fas', 'cog')
.Group
  .GroupBox
    .GroupBox__name
      techcamp
    .GroupBox__message
      まだメッセージがありません
  .GroupBox
    .GroupBox__name
      techcamp
    .GroupBox__message
      まだメッセージがありません
  .GroupBox
    .GroupBox__name
      techcamp
    .GroupBox__message
      まだメッセージがありません
  .GroupBox
    .GroupBox__name
      techcamp
    .GroupBox__message
      まだメッセージがありません



