.SideBar__user
  .TopItems
    .TopItems__name
      name
    .TopItems__icons
      = link_to icon('fas', 'edit'), '#'
      = link_to icon('fas', 'cog'), '#'
.SideBar__grouplist
  There are grouplists in this area.