.SideBar__user
  .TopItems
    .TopItems__name
      name
    .TopItems__icons
      = link_to icon('fas', 'edit', class: 'TopItems__icons--icon'), '#'
      = link_to icon('fas', 'cog'), '#'
.SideBar__group_list
  .GroupBlock
    .GroupBlock__name
      techcamp
    .GroupBlock__message
      まだメッセージがありません
  .GroupBlock
    .GroupBlock__name
      techcamp
    .GroupBlock__message
      まだメッセージがありません
  .GroupBlock
    .GroupBlock__name
      techcamp
    .GroupBlock__message
      まだメッセージがありません
  .GroupBlock
    .GroupBlock__name
      techcamp
    .GroupBlock__message
      まだメッセージがありません



