.User
  .TopItems
    .TopItems__name
      name
    .TopItems__icons
      = link_to icon('fas', 'edit', class: 'TopItems__icons--icon'), '#'
      = link_to icon('fas', 'cog'), '#'
.Group
  .GroupBox
    .GroupBox__name
      techcamp
    .GroupBox__message
      まだメッセージがありません
  .GroupBox
    .GroupBox__name
      techcamp
    .GroupBox__message
      まだメッセージがありません
  .GroupBox
    .GroupBox__name
      techcamp
    .GroupBox__message
      まだメッセージがありません
  .GroupBox
    .GroupBox__name
      techcamp
    .GroupBox__message
      まだメッセージがありません



