* {
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.SideBar {
  height: 100%;
  width: 300px;
  background-color: #253141;
}

.MainChat {
  height: 100%;
  width: calc( 100vw - 300px );
  background-color: #ffffff;
}