@mixin miniSpace {
  margin-right: 5px;
}

$color_skyblue: #38aef0;
$color_aegean: #2f3e51;
$color_darkblue: #253141;
$color_heavyblue: #434a54;
$color_black: #333333;
$color_gray: #999999;
$color_offwhite: #d2d2d2;
$color_lightgray: #fafafa;
$color_whitesmoke: #eeeeee;
$color_white: #ffffff;